<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="/"> {{ site.title }} </a>
      </h1>
    </div>

    <nav class="sidebar-nav">
      <a
        class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}"
        href="{{ site.baseurl }}"
        >Home</a
      >

      {% comment %} The code below dynamically generates a sidebar nav of pages
      with `layout: page` in the front-matter. See readme for usage. {%
      endcomment %}

      <a class="sidebar-nav-item" href="{{ site.reading }}">Reading</a>
      <a
        class="sidebar-nav-item"
        target="_blank"
        href="{{ site.social.twitter }}"
        >Twitter</a
      >
    </nav>

    <div class="tag-cloud">
      <h3>Random Topics</h3>
      {% assign tag_array = "" | split: "" %} {% for tag in site.tags %} {%
      assign tag_array = tag_array | push: tag[0] %} {% endfor %} {% assign
      sampled_tags = tag_array | sample: 10 %} {% for tag_name in sampled_tags
      %} {% assign tag = site.tags[tag_name] %}
      <a
        href="/tag/{{ tag_name | slugify }}/"
        class="tag-link"
        style="font-size: {{ tag.size | times: 100 | divided_by: site.tags.size | plus: 70 }}%"
      >
        #{{ tag_name }}
        <span class="tag-count">({{ tag.size }})</span>
      </a>
      {% endfor %}
    </div>

    <div class="copyright">
      &copy; {{ 'now' | date: "%Y" }} {{ site.author.name }}. All rights
      reserved.
    </div>
  </div>
</div>
