<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="/"> {{ site.title }} </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a
        class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}"
        href="{{ site.baseurl }}"
        >Home</a
      >
      <a class="sidebar-nav-item" href="{{ site.reading }}">Reading</a>
      <a
        class="sidebar-nav-item"
        target="_blank"
        href="{{ site.social.twitter }}"
        >Twitter</a
      >
    </nav>

    <div class="tag-cloud">
      <h3>Explore Topics</h3>
      {% assign tag_array = "" | split: "" %} {% for tag in site.tags %} {%
      assign tag_array = tag_array | push: tag[0] %} {% endfor %} {% assign
      sorted_tags = tag_array | sort %} {% for tag_name in sorted_tags %} {%
      assign tag = site.tags[tag_name] %}
      <a
        href="/tag/{{ tag_name | slugify }}/"
        class="tag-link"
        style="font-size: {{ tag.size | times: 100 | divided_by: site.tags.size | plus: 70 }}%"
      >
        #{{ tag_name }}
        <span class="tag-count">({{ tag.size }})</span>
      </a>
      {% endfor %}
    </div>

    <div class="newsletter-signup">
      <h3>Subscribe to Newsletter</h3>
      <p>Get notified when I publish new posts.</p>
      <form
        action="https://chikomukwenha.us21.list-manage.com/subscribe/post?u=95180503d6cba3c99ebfc4089&amp;id=ce025adb0d&amp;f_id=00cb5ce1f0"
        method="post"
        target="_blank"
      >
        <input
          type="email"
          name="EMAIL"
          required=""
          placeholder="Your email address"
        />
        <button type="submit">Subscribe</button>
        <div style="position: absolute; left: -5000px" aria-hidden="true">
          <input
            type="text"
            name="b_95180503d6cba3c99ebfc4089_ce025adb0d"
            tabindex="-1"
            value=""
          />
        </div>
      </form>
    </div>

    <div class="copyright">
      &copy; {{ 'now' | date: "%Y" }} {{ site.author.name }}. All rights
      reserved.
    </div>
  </div>
</div>
