---
layout: default
---

<article class="post">
  <header class="post-header">
    <div class="post-meta">
      <time class="post-date">{{ page.date | date: "%B %-d, %Y" }}</time>
      {% if page.tags.size > 0 %}
      <div class="post-tags">
        {% for tag in page.tags %}
        <a href="/tag/{{ tag | slugify }}/" class="tag">#{{ tag }}</a>
        {% endfor %}
      </div>
      {% endif %}
    </div>

    <h1 class="post-title">{{ page.title }}</h1>

    {% if page.subtitle %}
    <p class="post-subtitle">{{ page.subtitle }}</p>
    {% endif %}
  </header>

  <div class="post-content">{{ content }}</div>

  <footer class="post-footer">
    <div class="author-bio">
      <div class="author-info">
        <h3>Written by Chiko Mukwenha</h3>
        </div>
      </div>
    </div>
  </footer>
  {% include newsletter.html %}
</article>

