---
layout: default
---

<div class="tag-page">
  <h1 class="tag-title">Posts tagged with #{{ page.tag }}</h1>

  <div class="tag-posts">
    {% assign posts = site.tags[page.tag] | sort: 'date' | reverse %} {% for
    post in posts %}
    <article class="post-preview">
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      <div class="post-meta">
        <time>{{ post.date | date: "%B %-d, %Y" }}</time>
        {% if post.tags.size > 0 %}
        <span class="tags">
          {% for tag in post.tags %} #{{ tag }} {% endfor %}
        </span>
        {% endif %}
      </div>
      <div class="post-excerpt">
        {% if post.content contains '<!--more-->' %} {{ post.content | split:'<!--more-->'
        | first }} {% else %} {{ post.content | strip_html | truncatewords: 100
        }} {% endif %}
      </div>
    </article>
    {% endfor %}
  </div>
</div>
